@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@font-face {
    font-family: "Buenos Aires";
    src: url("/public/fonts/buenos-aires/BuenosAires-Black.woff")
        format("woff2");
    font-weight: bolder;
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    font-family: "Buenos Aires", sans-serif;
    text-align: center;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
